<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
  <a href="./index.html" class="site-logo"><%= image_tag 'logo' %></a>
  <div class="nav-switch">
    <i class="fa fa-bars"></i>
  </div>
  <div class="nav-warp">
    <div class="user-panel">
      <a href="#">Search Now</a>
    </div>
  </div>
</header>
<!-- Header section end -->

<!-- Hero section -->
<section class="hero-section set-bg">
  <%# <%= image_tag 'bg' %1> %>
  <div class="container h-100">
    <div class="hero-content text-white">
      <div class="row">
        <div class="col-lg-6 pr-0">
          <h2>Ultimate Moviegoers Guide</h2>
          <p>Your one stop shop for all your movie questions! Search, view and discover everything you ever wanted to
            know about every movie you can imagine!</p>
          <a href="#" class="site-btn">Search Now</a>
        </div>
      </div>
      <div class="hero-rocket">
        <%= image_tag 'rocket' %>
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->
