import React, { Fragment } from "react"

class Movies extends React.Component {
  render() {
    return (
      <Fragment>
        <div id="preloder">
          <div className="loader"></div>
        </div>

        <header class="header-section">
          <a href="./index.html" class="site-logo">
            logo
          </a>
          <div class="nav-switch">
            <i class="fa fa-bars"></i>
          </div>
          <div class="nav-warp">
            <div class="user-panel">
              <a href="#">Search Now</a>
            </div>
          </div>
        </header>

      </Fragment>
    )
  }
}

export default Movies

